.property-item {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.property-item img {
  width: 192px;
  height: 142px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
