.reg-content {
}

.subscribe-form {
  display: flex;
  justify-content: space-evenly;
  height: 48px;
}

.subscribe-form input {
  border-radius: 8px;
  border: none;
  height: 100%;
  width: 340px;
  border: 1px solid rgb(1, 50, 122);
}

.subscribe-form button {
  color: #fff;
  background-color: rgb(33, 105, 214);
  margin-left: 10px;
  border-radius: 8px;
  height: calc(100% + 5px);
  border: 1px solid rgb(1, 50, 122);
}
